<h1>Versa Chatbot</h1>
<input placeholder = "Please enter query..." id="chatbot-input">
<button id="search-button">Search</button>
<div class = "response-list-container" ><div class="response-list">
</div></div>
<%= stylesheet_link_tag "chatbot" %>
<%= javascript_pack_tag 'chatbot_index' %>




















